@import "tailwindcss";

/* @font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.otf") format("otf");
  font-weight: 900;
} */

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}


@keyframes pulse-subtle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.95;
  }
}

.animate-pulse-subtle {
  animation: pulse-subtle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}